[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
sklearn = "*"
tcav = "*"
matplotlib = "*"
pillow = "*"
scikit-image = "*"
tensorflow = "~=1.14"
pandas = "*"
keras = "~=2.2.4"

[requires]
python_version = "3.7"
